<div class="page">



<mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form  [formGroup]="form" (ngSubmit)="login()">
<p>
  <mat-form-field>
    <input name="userName" matInput id="userName" type="text" class="form-control" placeholder="User Name..." formControlName="userName"/>
  </mat-form-field>
  <mat-form-field>
    <input name="password" matInput id="password" type="text" class="form-control" placeholder="Password..." formControlName="password"/>
  </mat-form-field>
</p>

<div class="button">
  <button type="submit" mat-button>Login</button>
</div>

</form>
</mat-card-content>
</mat-card>
</div>
