<div class="page">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Ajouter un Commentaire</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="addComment(loginForm.value)">
          <div class="form-group" >
            <input (ngModel)="name" name="name" id="name" type="text" class="form-control" placeholder="name..." />
          </div>
          <div class="form-group" >
            <input (ngModel)="email" name="email" id="email" type="text" class="form-control" placeholder="email..." />
          </div>
          <div class="form-group" >
            <input (ngModel)="body" name="body" id="body" type="body" class="form-control"placeholder="body..." />
          </div>

          <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
      </mat-card-content>
    </mat-card>

<div class="comments">
  <div *ngFor="let comment of comments">
    <app-feed-post-detail-comment [comment]="comment"></app-feed-post-detail-comment>
  </div>
</div>
</div>
