<div class="page">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Ajouter un Commentaire</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form >
          <div class="form-group" >
            <input [formControl]="name" class="form-control" placeholder="name..." />
          </div>
          <div class="form-group" >
            <input [formControl]="email" class="form-control" placeholder="email..." />
          </div>
          <div class="form-group" >
            <input [formControl]="body" class="form-control" placeholder="body..." />
          </div>

          <button type="submit" class="btn btn-primary" (click)="addComment()">Add Comment</button>
        </form>
      </mat-card-content>
    </mat-card>

<div class="comments">
  <div *ngFor="let comment of comments">
    <app-feed-post-detail-comment [comment]="comment"></app-feed-post-detail-comment>
  </div>
</div>
</div>
