<div class="page">
<h1>Create User</h1>
<hr>
<div class="col-md-4">
  <form >
    <div class="form-group" >
      <label for="username">User Name:</label>
      <input [formControl]="username" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="email">email:</label>
      <input [formControl]="email" class="form-control" placeholder="email..." />
    </div>
    <div class="form-group" >
      <label for="password">password:</label>
      <input [formControl]="password" class="form-control"  placeholder="password..." />
    </div>


    <button type="submit" class="btn btn-primary"(click)="create()">Créer</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>
</div>

