<div class="page">
<div>
  <h1>Fil d'actualité</h1>
  <br>
  <h2>
    <button mat-raised-button color="warn" *ngIf="this.authService.isConnected()" [routerLink]="['./',this.authService.currentUser!.id]">Voir ses posts</button>
  </h2>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Ajouter un Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="addPost(loginForm.value)">
          <div class="form-group" >
            <input (ngModel)="title" name="title" id="title" type="text" class="form-control" placeholder="Title..." />
          </div>
          <div class="form-group" >
            <input (ngModel)="body" name="body" id="body" type="body" class="form-control"placeholder="body..." />
          </div>

          <button type="submit" class="btn btn-primary">Add Post</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="posts?.length == 0"> Connectez-vous pour voir les posts</div>
  <div class="posts">
    <div *ngFor="let post of posts" class="col-md-5">
      <app-feed-post  [post]="post" ></app-feed-post>
    </div>
  </div>
</div>


</div>


